POSTGRES_URL=postgresql://root:root@localhost:5432/vitnode

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WEB_URL=http://localhost:3000

# === Docker Database Postgres ===
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_NAME=vitnode