/src/*
!/src/routes
!/src/routes/**
!/src/locales
!/src/locales/**

/node_modules
/.turbo
/tsconfig.json
/components.json
/global.d.ts
/types
/tsdown.config.ts
/vitest.config.ts
/tsconfig.json
/scripts
/config
/oxlint.config.ts
/dist/*.tsbuildinfo
