/src/*
!/src/routes
!/src/routes/**
!/src/locales
!/src/locales/**

/node_modules
/.turbo
/tsconfig.json
/tsdown.config.ts
/components.json
/global.d.ts
/tsup.config.ts
/vitest.config.ts
/tsconfig.json
/scripts
/config